<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="springdatamvc">Title</title>
    <script src="../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript">
            function valid(){
                console.log("===");
                var id = $("#id").val();
                var r = /^[0-9]*[1-9][0-9]*$/;
                if(r.test(id)){
                    return true;
                }
                alert("id必须为正整数");
                return false;
            }
    </script>
</head>
<body>
<form action="/emp/addEmp" method="post">
    <table>
        <tr><td>id</td><td><input id="id" name="id" type="text"/></td></tr><br/>
        <tr><td>姓名</td><td><input name="name" type="text"/></td></tr><br/>
        <tr><td>电话</td><td><input name="phone" type="text"/></td></tr><br/>
        <tr><td>部门编号</td><td>
            <input type="radio" th:name="departmentId" th:value="1" checked/>1
            <input type="radio" th:name="departmentId" th:value="2"/>2
            <input type="radio" th:name="departmentId" th:value="3"/>3
        </td></tr>
    </table>

    <input type ="submit" value ="提交" onclick ="return valid();"/>
</form>
</body>
</html>